/* The `.base` block in the SCSS code is defining a CSS rule set for an element with the class name
"base". Within this block, there is a nested rule for `img` elements that specifies the following
styles: */
.base {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* The `.large` block in the SCSS code is defining a CSS rule set for elements with the class name
"large". Within this block, there are nested rules for different variations of aspect ratios for the
elements with the class "large". */
.large {
  width: 9rem;
  height: 9rem;

  &1x2 {
    width: 9rem;
    aspect-ratio: 1 / 2;
  }

  &1x1 {
    width: 9rem;
    aspect-ratio: 1 / 1;
  }

  &9x16 {
    width: 9rem;
    aspect-ratio: 9 / 16;
  }

  &16x9 {
    width: 9rem;
    aspect-ratio: 16 / 9;
  }
}