/* `.Base {}` is defining a CSS class selector named `.Base`. This selector can be used to apply styles
to HTML elements with the class attribute set to "Base". */
.Base {}

/* This SCSS code is defining a nested structure for styling list items with different list-style-types
under the `.Marker` class selector. */
.Marker {
  &None {
    list-style-type: none;
  }

  &Disc {
    list-style-type: disc;
  }

  &Circle {
    list-style-type: circle;
  }

  &Square {
    list-style-type: square;
  }
}