/* The `.Base` class in the SCSS code snippet provided is defining a base style for a message element.
It sets various CSS custom properties (CSS variables) to control the appearance of the message
element. Here's a breakdown of what each property is doing: */
.Base {
  background-color: var(--msg-bg-color, transparent);
  border: var(--msg-border-w, 0) var(--msg-border-style, none) var(--msg-border-color, initial);
  border-radius: var(--msg-br, .25rem);
  color: var(--msg-color, initial);
  display: block;
  font-size: var(--msg-font-size, initial);
  padding: var(--msg-pt, 0) var(--msg-pr, 0) var(--msg-pb, 0) var(--msg-pl, 0);

  @media (forced-colors: active) and (prefers-color-scheme: light) {
    --msg-bg-color: transparent;
    forced-color-adjust: none;
  }

  @media (forced-colors: active) and (prefers-color-scheme: dark) {
    --msg-bg-color: transparent;
    forced-color-adjust: none;
  }
}

/* `.Info` is a CSS class that is defining custom properties (CSS variables) for styling a message
element with an informational theme. */
.Info {
  --msg-bg-color: LightCyan;
  --msg-border-w: 1px;
  --msg-border-style: solid;
  --msg-border-color: DodgerBlue;
  --msg-color: DodgerBlue;
}

/* The `.Error` class in the SCSS code snippet is defining custom properties (CSS variables) for
styling a message element with an error theme. It sets the background color to MistyRose, border
width to 1px, border style to solid, border color to salmon, and text color to brown. These
properties will be applied to any element that has the `.Error` class, giving it a visual style
associated with error messages. */
.Error {
  --msg-bg-color: MistyRose;
  --msg-border-w: 1px;
  --msg-border-style: solid;
  --msg-border-color: salmon;
  --msg-color: brown;
}

/* The `.Warning` class in the SCSS code snippet is defining custom properties (CSS variables) for
styling a message element with a warning theme. It sets the background color to LightYellow, border
width to 1px, border style to solid, border color to GoldenRod, and text color to GoldenRod. These
properties will be applied to any element that has the `.Warning` class, giving it a visual style
associated with warning messages. */
.Warning {
  --msg-bg-color: LightYellow;
  --msg-border-w: 1px;
  --msg-border-style: solid;
  --msg-border-color: GoldenRod;
  --msg-color: GoldenRod;
}

/* `.Tiny` is a CSS class that defines custom properties (CSS variables) for styling a message element
with a small size theme. It sets the font size to 0.75rem, padding top to 0.25rem, padding right to
0.5rem, padding bottom to 0.25rem, and padding left to 0.5rem. These properties will be applied to
any element that has the `.Tiny` class, giving it a visual style associated with small-sized
messages. */
.Tiny {
  --msg-font-size: .75rem;
  --msg-pt: .25rem;
  --msg-pr: .5rem;
  --msg-pb: .25rem;
  --msg-pl: .5rem;
}

/* The `.Small` class in the SCSS code snippet is defining custom properties (CSS variables) for
styling a message element with a small size theme. It sets the following properties:
- `--msg-font-size`: Sets the font size to 0.875rem.
- `--msg-pt`: Sets the padding top to 0.375rem.
- `--msg-pr`: Sets the padding right to 0.5rem.
- `--msg-pb`: Sets the padding bottom to 0.375rem.
- `--msg-pl`: Sets the padding left to 0.5rem. */
.Small {
  --msg-font-size: .875rem;
  --msg-pt: .375rem;
  --msg-pr: .5rem;
  --msg-pb: .375rem;
  --msg-pl: .5rem;
}

/* The `.Medium` class in the SCSS code snippet is defining custom properties (CSS variables) for
styling a message element with a medium size theme. It sets the following properties:
- `--msg-font-size`: Sets the font size to 1rem.
- `--msg-pt`: Sets the padding top to 0.5rem.
- `--msg-pr`: Sets the padding right to 0.75rem.
- `--msg-pb`: Sets the padding bottom to 0.5rem.
- `--msg-pl`: Sets the padding left to 0.75rem. */
.Medium {
  --msg-font-size: 1rem;
  --msg-pt: .5rem;
  --msg-pr: .75rem;
  --msg-pb: .5rem;
  --msg-pl: .75rem;
}

/* The `.Large` class in the SCSS code snippet is defining custom properties (CSS variables) for
styling a message element with a large size theme. It sets the font size to 1.25rem, padding top to
0.5rem, padding right to 0.75rem, padding bottom to 0.5rem, and padding left to 0.75rem. */
.Large {
  --msg-font-size: 1.25rem;
  --msg-pt: .5rem;
  --msg-pr: .75rem;
  --msg-pb: .5rem;
  --msg-pl: .75rem;

  &X {
    --msg-font-size: 1.5rem;
    --msg-pt: .5rem;
    --msg-pr: .75rem;
    --msg-pb: .5rem;
    --msg-pl: .75rem;
  }

  &2X {
    --msg-font-size: 1.75rem;
    --msg-pt: .5rem;
    --msg-pr: .75rem;
    --msg-pb: .5rem;
    --msg-pl: .75rem;
  }

  &3X {
    --msg-font-size: 2rem;
    --msg-pt: .5rem;
    --msg-pr: .75rem;
    --msg-pb: .5rem;
    --msg-pl: .75rem;
  }
}