/* The `.Base` block in the SCSS code snippet is defining styles for a base progress element. Here's a
breakdown of what each part of the code is doing: */
.Base {
  --progress-overflow: var(--overflow-hidden);
  background-color: var(--progress-bg-color);
  border: var(--progress-border-top-width, var(--progress-border-width)) var(--progress-border-right-width, var(--progress-border-width)) var(--progress-border-bottom-width, var(--progress-border-width)) var(--progress-border-left-width, var(--progress-border-width)) var(--progress-border-top-style, var(--progress-border-style)) var(--progress-border-right-style, var(--progress-border-style)) var(--progress-border-bottom-style, var(--progress-border-style)) var(--progress-border-left-style, var(--progress-border-style)) var(--progress-border-top-color, var(--progress-border-color)) var(--progress-border-right-color, var(--progress-border-color)) var(--progress-border-bottom-color, var(--progress-border-color)) var(--progress-border-left-color, var(--progress-border-color));
  border-radius: var(--progress-border-top-left-radius, var(--progress-border-radius)) var(--progress-border-top-right-radius, var(--progress-border-radius)) var(--progress-border-bottom-left-radius, var(--progress-border-radius)) var(--progress-border-bottom-right-radius, var(--progress-border-radius));
  width: var(--progress-width, 100%);
  height: var(--progress-height, auto);
  overflow: var(--progress-overflow-x, var(--progress-overflow)) var(--progress-overflow-y, var(--progress-overflow));

  &::-webkit-progress-inner-element {
    background-color: var(--progress-inner-element-bg-color);
  }

  &::-webkit-progress-bar {}

  &::-webkit-progress-value {}
}

/* `.Medium` is a CSS class selector that is setting a custom property `--progress-width` to `12px`.
This means that any element with the class `.Medium` will have a width of `12px` as defined by the
custom property. */
.Medium {
  --progress-width: 12px;
}

/* The `.Large` CSS class selector is defining a custom property `--progress-height` and setting it to
`16px`. This means that any element with the class `.Large` will have a height of `16px` as defined
by the custom property. This allows for easy customization of the height of elements by simply
applying the `.Large` class to them. */
.Large {
  --progress-height: 16px;
}

/* The `.clipPath` block in the SCSS code snippet is defining styles for a progress element with
specific properties. Here's a breakdown of what each part of the code is doing: */
.clipPath {
  width: 100%;
  height: 100%;
  background-size: cover;

  &::-webkit-progress-bar {
    // background-image: url('./../../assets/img/progress-bg.png');
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: transparent;
    background-blend-mode: difference;
    mix-blend-mode: overlay;
    background-image: linear-gradient(to right, #47F4FE 0, #4BF4FF 50%, #2FBBE1 72%, #209AD0 86%, #1D86C5 100%);
  }

  &Container {
    width: 810px;
    height: 64px;
    background-color: darkred;
    clip-path: url(#progressClipPath);
    position: relative;

    & svg {
      position: absolute;
    }
  }
}